@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
/* @font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter-italic.woff2") format("woff2");
  font-style: italic;
	font-display: swap;
} */

body {
  font-family: "Inter", system-ui, sans-serif;
  --accent: #3333ff;
  --bg-light: #f0f0f9;
  --bg-med-light: #e0e0f2;
  --bg-medium: #cccce5;
  --bg-dim: #aaaac5;
  --bg-dark: #8888a5;
  --bg-darker: #4b6493;
  --text: #223;
  color: var(--text);
  background: var(--bg-light);
  margin: 0px;
  height: 100vh;
  overscroll-behavior-y: none;
}

@media (prefers-color-scheme: dark) {
  body {
    --accent: #2b4bce;
    --bg-light: #161617;
    --bg-med-light: #1a1a23;
    --bg-medium: #272738;
    --bg-dim: #303053;
    --bg-dark: #53537a;
    --bg-darker: #5d67c6;
    --text: #c4c4ff;
  }
}

.rooms-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rooms-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.rooms-header > h1 {
  margin: 0px;
  background: var(--accent);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.15s ease;
  flex-shrink: 0;
}
.rooms-header > h1:hover {
  transform: scale(1.04);
}

@media (max-width: 500px) {
  .rooms-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .rooms-header > h1 {
    margin-bottom: 10px;
  }
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  width: 100%;
}
.search-container > svg {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  fill: var(--accent);
}

.search-no-results {
  background: var(--bg-med-light);
  flex-grow: 1;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.rooms-header input {
  background: var(--bg-medium);
  border: 0px;
  padding: 10px 10px 10px 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: var(--text);
  flex-grow: 1;
  width: 100%;
}

input::placeholder {
  color: var(--bg-dark);
}

.rooms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow-y: auto;
  height: 100%;
}

.location-section {
  background: var(--bg-med-light);
  padding: 10px;
  border-radius: 5px;
  flex-grow: 1;
  /* max-width: 500px; */
}
.location-title {
  font-size: 20px;
  color: var(--accent);
}
.location-rooms > button,
.location-rooms > .room-link {
  margin: 0px 5px 5px 0px;
}

#root {
  overflow: hidden;
  height: 100vh;
  padding: 8px 20px;
  box-sizing: border-box;
}
button,
.room-link {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0px 15px;
  font-size: 18px;
  border: 0px;
  background: var(--bg-medium);
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.25s ease, color 0.25s ease;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
  color: var(--text);
  text-decoration: none;
}
button:hover,
.room-link:hover {
  background: var(--bg-dim);
}
button:active,
.room-link:active {
  background: var(--bg-dark);
  /* color: white; */
}
.room {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.room-header {
  display: flex;
  align-items: center;
}

.room-name {
  color: var(--accent);
  margin-left: 15px;
  /* font-size: 30px; */
}

@media (max-width: 500px) {
  .room-name {
    margin: 0px 0px 0px 10px;
    font-size: 20px;
  }
  .room-header {
    margin: 5px 0px 10px 0px;
  }
}

.schedule-and-sidebar {
  display: flex;
  overflow-y: auto;
}
.schedule-times {
  margin-right: -10px;
  box-shadow: 1px 0px 10px 0px #00000055;
  height: 900px;
  display: flex;
  flex-direction: column;
  width: 60px;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  border-radius: 5px;
}

.schedule-labels {
  display: flex;
  width: 100%;
}
.day-labels {
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin-bottom: -10px;
}
.day-name {
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 10px 0px;
  margin-right: 10px;
  min-width: 125px;
  background: var(--accent);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 1px 10px 0px #00000055;
  z-index: 1;
  width: 100%;
}
.day-name:first-child {
  margin-left: 20px;
}
.schedule-labels > p {
  margin: 0px;
  padding: 10px 5px;
  font-weight: bold;
  background: var(--bg-darker);
  color: white;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  width: 60px;
  box-sizing: border-box;
  margin-right: -10px;
  flex-shrink: 0;
  box-shadow: 1px 0px 10px 0px #00000055;
  z-index: 2;
}

@media (max-width: 500px) {
  .schedule-times {
    width: 50px;
    font-size: 14px;
  }
  .schedule-labels > p {
    font-size: 14px;
    width: 50px;
  }
}

.schedule-times > div {
  flex-grow: 1;
  background: var(--bg-medium);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 0px 0px 5px 5px;
}
.schedule-times > div > p {
  text-align: right;
  margin: 0px;
  position: absolute;
  margin-top: -10px;
  margin-right: 5px;
  color: var(--text);
}
.schedule {
  display: flex;
  height: 900px;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  /* scroll-snap-type: x proximity; */
}
.schedule > .day {
  margin-right: 10px;
}
.day:first-child {
  margin-left: 20px;
}

.day {
  width: 100%;
  min-width: 125px;
  height: 900px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  scroll-margin-left: 20px;
  background: var(--accent);
  border-radius: 5px;
}

.cont {
  background: var(--bg-medium);
  flex-grow: 1;
  /* width: 200px; */
  /* height: 90vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 10px;
  box-sizing: border-box;
}
.hour-line {
  border-top: 1px solid var(--bg-dark);
  width: 100%;
  position: absolute;
}
.time-marker {
  border-top: 3px solid var(--accent);
  width: 100%;
  position: absolute;
}
.time-marker::before {
  content: "";
  width: 0px;
  height: 0px;
  /* background: green; */
  position: absolute;
  left: 0px;
  top: -11px;
  border: 10px solid transparent;
  border-left-color: var(--accent);
  border-radius: 5px;
}
.class {
  position: absolute;
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: 30px;
  background: var(--bg-light);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 5px;
  transition: transform 0.25s ease;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #00000022;
	text-decoration: none;
}
.class:hover {
  transform: scale(1.04);
  z-index: 10;
}
.class > p {
  margin: 0px;
  color: var(--text);
  font-size: 14px;
}

.class > .class-time {
  font-weight: bold;
  color: var(--accent);
  /* margin-left: 100px; */
}
.className {
  overflow: hidden;
  /* flex-grow: 1; */
  /* text-wrap: none; */
  /* white-space: pre; */
  text-overflow: ellipsis;
  padding-right: 5px;
  word-break: break-word;
}
.classId {
  overflow: hidden;
  flex-shrink: 100;
}

@media (max-width: 500px) {
  .back-word {
    display: none;
  }
}
